<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ site.wsucon_photo_host }}/static/assets/photos/xiv/top20-micro/IMG_9392.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ site.wsucon_photo_host }}/static/assets/photos/xiv/top20-micro/IMG_0185.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ site.wsucon_photo_host }}/static/assets/photos/xiii/top20-micro/DSC_0043.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ site.wsucon_photo_host }}/static/assets/photos/xiv/top20-micro/IMG_9729.jpg');"></div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>