body {
  background-image: url('../../../static/assets/backgrounds/cubes-47050a87.png');
}

.navbar-inverse {
  background-color: #222;
}

/*
a.navbar-brand {
  background-image: url('../../../static/assets/logos/wsucon-light.svg');
  background-repeat: no-repeat;
  width: 180px;
}*/

#wsuconlogo {
  background-image: url('../../../static/assets/logos/wsucon-light.svg');
  background-repeat: no-repeat;
  display: block;
  margin: .4em auto 0 1em;
  text-indent: -9999px;
  width: 180px;
}

.schedule-table {
  width: 100%;
  border: 1px solid black;
}

.schedule-table td {
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}
.schedule-table th {
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}


