//stater styles

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// TODO: modern business templating

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}